body {
    background-image: url(imgs/curriculo-background.png);
    font-family: 'Poppins', sans-serif;
    background-color: #f3daa3; 
}
.container {
    background: #f3f0d9;    
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 150% rgba(0, 0, 0, 0.1);
    width: 900px;
    height: 1000px;
    margin-left: 500px;
    margin-right: auto;
}
