body {
  font-family: 'Poppins', sans-serif;
  background-color: #666696;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  background: #ffffff;
  padding: 50px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

h1 {
  text-align: center;
  color: #333;
  font-weight: 600;
}

label {
  font-weight: 600;
  display: block;
  margin-top: 15px;
  color: #555;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button {
  margin-top: 20px;
  background: #28a745;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #218838;
}

/* Estilizando a saída do currículo */
.cv-output {
  margin-top: 20px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

.cv-output h2 {
  text-align: center;
  color: #333;
  border-bottom: 3px solid #28a745;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.cv-output p {
  margin: 8px 0;
  font-size: 16px;
  color: #555;
}

/* Botão de download */
#downloadBtn {
  display: none;
  margin-top: 20px;
  background: #007bff;
}

#downloadBtn:hover {
  background: #0056b3;
}

.cv-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #218838;
}

#imagePreview {
  margin-top: 15px;
  text-align: center;
}

#imagePreview img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  margin-top: 10px;
}

